<div class="cart-table-wrapper">
</div>

<script>
    // TODO: don't forget to wipe cart when user logs out
    let cart = JSON.parse(sessionStorage.getItem("cart")) || [];
    let orderItems = {{{json (orderToCart order)}}};
    if (orderItems) {
        cart = orderItems;
    }
    const menu = {{{json menu}}};

    // const menu = JSON.parse(sessionStorage.getItem("menu")) || {};
    let tableContents = [];

    function updateTableContents() {
        tableContents = [];
        invalidSnackIds = [];
        for (let cartItem of cart) {
            const snack = menu.find(item => item.snackId === cartItem.snackId);
            if (!snack) {
                // item in cart that is not on the menu, delete it later.
                invalidSnackIds.push(cartItem.snackId)
            } else {
                const quantity = cart.find(item => item.snackId === snack.snackId).quantity;
                tableContents.push({
                    "Snack ID": snack.snackId,
                    Item: snack.snackName,
                    Quantity: quantity,
                    "Unit Price": `$${snack.price}`,
                    Price: `$${snack.price * quantity}`
                });
            }
        }
        for (let snackId in invalidSnackIds) {
            deleteItem(snackId);
        }
    }

    function deleteItem(snackId) {
        cart = cart.filter(item => item.snackId !== snackId);
        sessionStorage.setItem("cart", JSON.stringify(cart));
        updateTable();
    }

    // Update the quantity of the cart from the input text field
    function updateQuantity(snackId) {
        const quantityField = document.getElementById(`snack-${snackId}-quantity`);
        let quantity = parseInt(quantityField.value);

        // invalid value, don't update to cart to this!
        if (!quantity || quantity < 0) {
            quantityField.value = 1;
        }
        const idx = cart.findIndex(item => item.snackId === snackId);
        cart[idx].quantity = parseInt(quantityField.value);

        sessionStorage.setItem("cart", JSON.stringify(cart));
        updateTable();
    }

    function updateCartTotal() {
        let cartTotalField = document.querySelector(".cart-total");
        let sum = 0;
        for (const row of tableContents) {
            sum += parseFloat(row["Price"].substring(1));
        }
        cartTotalField.textContent = `$${sum}`;
    }

    function generateTableHead(table, data) {
        let thead = table.createTHead();
        let row = thead.insertRow();
        for (let key of data) {
            let th = document.createElement("th");
            let text = document.createTextNode(key);
            th.appendChild(text);
            row.appendChild(th);
        }
    }

    function generateTable(table, data) {
        for (let datum of data) {
            let row = table.insertRow();
            generateRow(row, datum);
        }
        generateLastRow(table);
    }

    function generateRow(row, datum) {
        for (key in datum) {
            let cell = row.insertCell();
            if (key === "Quantity") {
                let input = document.createElement("input");
                input.id = `snack-${datum["Snack ID"]}-quantity`;
                input.className = `count-input`;
                input.setAttribute("type", "number");
                input.setAttribute("min", "1");
                input.setAttribute("onchange", `updateQuantity(String(${datum["Snack ID"]}))`);
                input.setAttribute("value", datum.Quantity);
                cell.appendChild(input);
            } else {
                let text = document.createTextNode(datum[key]);
                cell.appendChild(text);
            }
        }
        let cell = row.insertCell();
        let deleteButton = document.createElement("button");
        deleteButton.className = "button";
        let xIcon = document.createElement("i");
        xIcon.classList.add("fas", "fa-trash-alt")
        deleteButton.appendChild(xIcon);
        deleteButton.setAttribute("onclick", `deleteItem(String(${datum["Snack ID"]}))`);
        cell.appendChild(deleteButton);
    }

    function generateLastRow(table) {
        let row = table.insertRow();
        row.insertCell();
        row.insertCell();
        row.insertCell();

        let cell = row.insertCell();
        let text = document.createTextNode("Cart Total:");
        cell.appendChild(text);

        let cell2 = row.insertCell();
        cell2.className = "cart-total";
        let text2 = document.createTextNode("0");
        cell2.appendChild(text2);
    }


    function updateTable() {
        updateTableContents();
        let wrapper = document.querySelector(".cart-table-wrapper");
        // if cart is empty display message
        if (!cart || cart.length === 0) {
            let wrapper = document.querySelector(".cart-table-wrapper");
            let div = document.createElement("div");
            div.className = "empty-cart-message";
            let text = document.createTextNode("Empty cart.");
            div.appendChild(text);

            wrapper.replaceChild(div, wrapper.childNodes[0]);
        } else {
            let table = document.createElement("table");
            table.style.width = "32px";
            table.className = "cart-table";
            let data = Object.keys(tableContents[0]);
            generateTable(table, tableContents);
            generateTableHead(table, data);

            wrapper.replaceChild(table, wrapper.childNodes[0]);
            updateCartTotal();
        }
    }
    updateTable();
</script>