<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snacks in a Van</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <header>
        <div class="header-navbar">
            <h1 class="navbar-logo">
                <img src="../../public/static/logo.png">
                <a href="/customer">Snacks in a Van</a>
            </h1>
            <nav class="navbar-links">
                <a href="/customer/orders" class="target">Orders</a>
                <a href="/customer/menu" class="target">Menu</a>
                <a href="/customer/account" class="target">Account</a>
            </nav>
        </div>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <p><span>&#169;</span>Snacks in a Van 2021</p>
    </footer>
</body>

</html>
