<section id="cart">
    <div class="cart-wrapper">
        <h1>Order Details</h1>
        <div class="cart-van-details">
            Van Name <br>
            Van Location
        </div>
        {{> cart-table}}
        <div class="order-buttons">
            <button id="clear-cart-button" class="button" onclick="clearCart()">
                <i class="fas fa-concierge-bell"></i>
                Clear Cart
            </button>
            <button id="place-order-button" class="button" onclick="placeOrder()">
                Place Order
            </button>
        </div>
    </div>
    <a class="button view-menu-button" href="/customer/menu">
        <i class="fa fa-clipboard"></i> View menu
    </a>
</section>

<script>
    function placeOrder() {
        let order = {};
        console.log(`placing order: ${JSON.stringify(cart)}`);
    }
    function clearCart() {
        sessionStorage.clear();
        window.location.reload();
    }
</script>