<section id="cart">
    <div class="cart-wrapper">
        <h1>Order Details</h1>
        <div class="cart-van-details">
            Van Name <br>
            Van Location
        </div>
        {{> cart-table order=null}}
        <div class="order-buttons">
            <button id="clear-cart-button" class="button" onclick="clearCart()">
                <i class="fas fa-trash-alt"></i>
                Clear Cart
            </button>
            <button id="place-order-button" class="button" onclick="placeOrder()">
                <i class="fas fa-concierge-bell"></i>
                Place Order
            </button>
        </div>
    </div>
    <a class="button view-menu-button" href="/customer/menu">
        <i class="fa fa-clipboard-list"></i> View menu
    </a>
</section>

<script>
    function placeOrder() {
        const newOrder = {items: cart};
        fetch(`/customer/orders/`, {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(newOrder)
        }).then(() => console.log(`placed order: ${newOrder}`));
    }
    function clearCart() {
        sessionStorage.removeItem("cart");
        window.location.reload();
    }
</script>