<section id="cart">
    <div class="cart-wrapper">
        <h1>Order Details</h1>
        <div class="cart-van-details">
            Van Name <br>
            Van Location
        </div>
        <div>
            Cart Total: <b><span class="cart-total"></span></b>
        </div>
        <table id="items-table">
        </table>
        <div class="order-buttons">
            <button id="cancel-order" class="button" onclick="clearCart()"><i class="fa fa-concierge-bell"></i>Cancel Order</button>
            <button id="place-order" class="button" onclick="debugCart()">Place Order</button>
        </div>
    </div>
</section>

<script>

    function debugCart() {
        const cart = sessionStorage.getItem("cart");
        console.log(cart);
        return cart;
    }
    cart = JSON.parse(sessionStorage.getItem("cart"))

    let itemCart = [];
    for (let itemJSON in cart) {
        const item = JSON.parse(itemJSON);
        const quantity = cart[itemJSON];
        itemCart.push({
            Item: item.snackName,
            Quantity: quantity,
            "Unit Price": `$${item.price}`,
            Price: `$${item.price * quantity}`
        });
    }

    let cartTotalField = document.querySelector(".cart-total");
    let sum = 0;
    for (let itemJSON in cart) {
        const item = JSON.parse(itemJSON);
        const quantity = cart[itemJSON];
        sum += item.price * quantity;
    }
    cartTotalField.textContent = `$${sum}`;
    for (let cartItem in cart) {
        sum += cartItem
    }

    function generateTableHead(table, data) {
        let thead = table.createTHead();
        let row = thead.insertRow();
        for (let key of data) {
            let th = document.createElement("th");
            let text = document.createTextNode(key);
            th.appendChild(text);
            row.appendChild(th);
        }
    }

    function generateTable(table, data) {
        for (let element of data) {
            let row = table.insertRow();
            for (key in element) {
                let cell = row.insertCell();
                let text = document.createTextNode(element[key]);
                cell.appendChild(text);
            }
        }
    }

    function clearCart(){
        sessionStorage.clear();
    }

    let table = document.querySelector("#items-table");
    let data = Object.keys(itemCart[0]);
    generateTable(table, itemCart);
    generateTableHead(table, data);


</script>