<section id="cart">
    <div class="cart-wrapper">
        <h1>Order Details</h1>
        <div>
            <div>
                <i class="fas fa-shuttle-van"></i>
                <span class="cart-van-name">No van selected!</span>
            </div>
            <div>
                <i class="fas fa-map-marker-alt"></i>
                <span class="cart-van-location">No van selected!</span>
            </div>
        </div>
        {{> cart-table order=null}}
        <div class="order-buttons">
            <button id="clear-cart-button" class="button" onclick="clearCart()">
                <i class="fas fa-trash-alt"></i>
                Clear Cart
            </button>
            <button id="place-order-button" class="button" {{#if isLoggedin}} onclick="placeOrder()" {{else}}
                onclick="getLogin()" {{/if}}>
                <i class="fas fa-concierge-bell"></i>
                Place Order
            </button>
        </div>
    </div>
    <a class="view-menu-button button" id="view-menu" href="/customer/menu">
        <i class="fa fa-clipboard-list"></i> View menu
    </a>
</section>

<script>
    const vendor = JSON.parse(sessionStorage.getItem('vendor'));
    if (vendor) {
        document.querySelector('.cart-van-name').textContent = vendor.vendorName;
        document.querySelector('.cart-van-location').textContent = vendor.address;
    }

    function renderTrashButtons() {
        const trashButtons = document.getElementsByClassName("trash-button");
        for (let i = 0; i < trashButtons.length; i++) {
            trashButtons[i].style.display = "inline-block";
            trashButtons[i].style.visibility = "visible";
            trashButtons[i].addEventListener("click", render);
        }
    }

    function enableCountInput() {
        const countInputs = document.getElementsByClassName("count-input");
        for (let i = 0; i < countInputs.length; i++) {
            countInputs[i].disabled = false
            countInputs[i].addEventListener("change", render);
        }
    }

    function render() {
        renderTrashButtons();
        enableCountInput();
    }
    render();

    function getLogin() {
        window.location = "/customer/login";
    }

    // place an order based on the current cart items
    async function placeOrder() {
        const vendor = JSON.parse(sessionStorage.getItem("vendor"));
        if (vendor === null) {
            window.location = "/customer/vendors";
        }
        const cart = JSON.parse(sessionStorage.getItem("cart"));
        const firstItem = cart[0];
        const newOrder = {
            snackId: firstItem.snackId,
            quantity: firstItem.quantity,
            vendorName: vendor.vendorName
        };
        const order = await createOrder(newOrder);
        order.items = cart;
        const updatedOrder = await updateOrder(order);
        window.location = `/customer/orders`;
        sessionStorage.removeItem("cart");
    }

    // create a new order by ordering one item
    async function createOrder(newOrder) {
        const res = await fetch(`/customer/orders/`,
            {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(newOrder)
            }
        );
        return res.json();
    }

    // update an order (can add more items to the order)
    async function updateOrder(order) {
        const res = await fetch(`/customer/orders/${order.orderId}`,
            {
                method: "PUT",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(order)
            }
        );
        return res.json();
    }

    function clearCart() {
        sessionStorage.removeItem("cart");
        window.location.reload();
    }
</script>