<section id="cart">
    <div class="cart-wrapper">
        <h1>Order Details</h1>
        <div class="cart-van-details">
            Van Name <br>
            Van Location
        </div>
        {{> cart-table order=null}}
        <div class="order-buttons">
            {{!-- <form method="get"> --}}
                <button id="clear-cart-button" class="button" onclick="clearCart()">
                    <i class="fas fa-trash-alt"></i>
                    Clear Cart
                </button>
                <button id="place-order-button" class="button" {{#if isLoggedin}} onclick="placeOrder()" {{else}}
                    onclick="getLogin()" {{/if}}>
                    <i class="fas fa-concierge-bell"></i>
                    Place Order
                </button>
                {{!--
            </form> --}}
        </div>
    </div>
    <a class="button view-menu-button" href="/customer/menu">
        <i class="fa fa-clipboard-list"></i> View menu
    </a>
</section>

<script>
    const customerId = "{{{customerId}}}";

    function getLogin() {
        window.location = "/customer/login";
    }

    async function placeOrder() {
        const vendor = sessionStorage.getItem("vendor");
        const cart = JSON.parse(sessionStorage.getItem("cart"));
        // name: snack_name, quantity: quantity, vendorName: vendorName
        const firstItem = cart[0];
        const newOrder = {
            snackId: firstItem.snackId,
            quantity: firstItem.quantity,
            vendorName: vendor
        };
        const order = await createOrder(newOrder);
        order.items  = cart;
        const updatedOrder = await updateOrder(order);
        window.location = `/customer/${customerId}/orders`;
        // fetch(`/customer/${customerId}/orders/`,
        //     {
        //         method: "POST",
        //         headers: {
        //             'Content-Type': 'application/json'
        //         },
        //         body: JSON.stringify(newOrder)
        //     }
        // ).then((res) => {
        //     const order = res.body;
        //     console.log(res.json())
        //     console.log(JSON.stringify(order));
        //     newOrder.items = cart;
        //     fetch(`/customer/orders/${order.orderId}`,
        //         {
        //             method: "PUT",
        //             headers: {
        //                 'Content-Type': 'application/json'
        //             },
        //             body: JSON.stringify(newOrder)
        //         }
        //     ).then((res) => {
        //         console.log(`placed order: ${JSON.stringify(order)}`);
        //         console.log(res);
        //     }).catch((err) => console.log(err));
        // });
    }

    async function createOrder(newOrder) {
        const res = await fetch(`/customer/${customerId}/orders/`,
            {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(newOrder)
            }
        );
        return res.json();
    }

    async function updateOrder(order) {
        const res = await fetch(`/customer/orders/${order.orderId}`,
            {
                method: "PUT",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(order)
            }
        );
        return res.json();
    }

    function clearCart() {
        sessionStorage.removeItem("cart");
        window.location.reload();
    }
</script>