<script>
    function debugCart() {
        const cart = sessionStorage.getItem("cart");
        console.log(cart);
        return cart;
    }
    cart = JSON.parse(sessionStorage.getItem("cart"))
</script>

<section id="cart">
    <h1>Order Details</h1>
    <table>
        {{#each cart}}

        {{/each}}
    </table>
</section>


{{!-- <button onclick="debugCart()">debug</button> --}}