<section id:"customerlist">
    <ul>
        {{#each customers}}
    <li>
            <p>{{this.first_name}}, {{this.last_name}}, {{this.authorId}}</p>
        </li>
        {{/each}}
    </ul>




</section>
