<section id="error">
    <h1> {{errorCode}} Error</h1>

    <p> Sorry, {{message}} </p>

    <p>Click <a href="#" onclick="javascript:window.history.back(-1);return false;"><u>here</u></a> to return to previous page. </p>
</section>