<div class="home-container">
    <h2 class="welcome">
        SNACK IN A VANへようこそ。メルボルンで最高のコーヒーを提供します
    </h2>
     {{!-- <h2 style="font-size:5vw;">SNACK IN A VANへようこそ。メルボルンで最高のコーヒーを提供します</h2> --}}
     {{!-- viewport sizing : https://www.w3schools.com/howto/howto_css_responsive_text.asp --}}
    <button class="find-us">
        Find us
    </button>
</div>
