<section id="home">
    <div class="home-top">
        <h2 class="welcome">
            SNACK IN A VANへようこそ。メルボルンで最高のコーヒーを提供します
        </h2>
    </div>
    <div class="home-bottom">
        <a href='/customer/menu' class="button">
            Find us
        </a>
    </div>
</section>