<section id="home" >
    
    <div class="home-top" style="text-align: center;">
        
        <h2 class="welcome" id="welcome-screen"></h2>
        <div class="icon">
            <i class="icon-SnackVan"></i>
        </div>
        <span class="text"><p>Snacks in a Van</p></span>
    </div>
    {{!-- <div class="text"style="text-align: center;"><p>Snacks in a Van</p></div> --}}
    <div class="home-bottom">
        <div class="find-us" >
        <a href='/customer/vendors' class="button">

            <i class="icon-SnackVan"></i>
            Find us
        </a>
        </div>
    </div>
    
           
</section>

<script>
    // better animation: https://codepen.io/Rafu/pen/VJYRyY
    /*const elem = document.getElementById("welcome-screen");
    function dispText(){
        const text = ["Snacks in a Van offers the best coffee in Melbourne", 
                    "SNACK IN A VANへようこそ。メルボルンで最高のコーヒーを提供します", 
                    "YEET MATE!!!", "C'MON MANRTIN WHY TAXED US???"];
        var counter = 0;
        var inst = setInterval(change, 5000);
    }

    function change() {
        elem.textContent = text[counter];
        counter++;
        if (counter >= text.length) {
            counter = 0;
        }
    }

    window.addEventListener('load', (event) => {
        const text = ["Snacks in a Van offers the best coffee in Melbourne", 
                    "SNACK IN A VANへようこそ。メルボルンで最高のコーヒーを提供します", 
                    "YEET MATE!!!", "C'MON MANRTIN WHY TAXED US???"];
        var counter = 0;
        var inst = setInterval(change, 5000);
    });*/



</script>