<section id="login">
  <form method="post" action="/customer/login" class="login-form">
    <div class="login-form-header">
      <div class="van-icon"><i class="icon-SnackVan"></i></div>
      <h1>Login Form</h1>
    </div>
    <label for="user-email"> Email Address</label>
    <input name="email" id="user-email" placeholder="Your email address" type="email" required />
    <label for="user-pw">Password</label>
    <input name="password" id="user-pw" placeholder="***************" type="password" required />
    <div class="login-forgot-password">
      {{!-- {{#if loginStatus }} --}}
      <a href="/customer/forgot-password"><u>Forgot password?</u></a>
      {{!-- {{/if}} --}}
    </div>
    <div class="login-error-message">
      {{#if loginFailed}}
        <p>Incorrect Email or Password</p>
      {{/if}}
    </div>
    <div class="login-form-submit">
      <button type="submit" class="button" id="login-button"><i class="fas fa-sign-in-alt"></i>&nbsp;LOG IN</button>
    </div>
    <div class="login-no-account-yet">
      Don't have an account yet? <a href="/customer/signup"><u>Register</u></a>
    </div>
  </form>
</section>

<script>
      var createAllErrors = function() {
        var form = $( this ),
            errorList = $( "ul.errorMessages", form );

        var showAllErrorMessages = function() {
            errorList.empty();

            // Find all invalid fields within the form.
            var invalidFields = form.find( ":invalid" ).each( function( index, node ) {

                // Find the field's corresponding label
                var label = $( "label[for=" + node.id + "] "),
                    // Opera incorrectly does not fill the validationMessage property.
                    message = node.validationMessage || 'Invalid value.';

                errorList
                    .show()
                    .append( "<li><span>" + label.html() + "</span> " + message + "</li>" );
            });
        };
        
        form.on( "submit", function( event ) {
            if ( this.checkValidity && !this.checkValidity() ) {
                $( this ).find( ":invalid" ).first().focus();
                event.preventDefault();
            }
        });

        $( "input[type=submit], button:not([type=button])", form )
            .on( "click", showAllErrorMessages);

        $( "input", form ).on( "keypress", function( event ) {
            var type = $( this ).attr( "type" );
            if ( /date|email|month|number|search|tel|text|time|url|week/.test ( type )
              && event.keyCode == 13 ) {
                showAllErrorMessages();
            }
        });
    };
    
    $( "form" ).each( createAllErrors );
</script>