<section id="loginform">
    <form method="post" action="/login">
        <label> Email
                <input
                  placeholder="username"
                />
              </label>
              <label>
                Password
                <input                  
                  placeholder="***************"
                  type="password"
                />
              </label>
    </form>

</section>