<section id="cart">
  <div class="cart-wrapper">
    <h1>Order Details</h1>
    <div class="cart-van-details">
      Van Name <br>
      Van Location
    </div>
    {{> cart-table order=order}}
    <div class="order-buttons">
      <button id="cancel-order-button" class="button" onclick="cancelOrder()">
        <i class="fas fa-trash-alt"></i>
        Cancel Order
      </button>
      <button id="update-order-button" class="button" onclick="updateOrder()">
        <i class="fas fa-edit"></i>
        Update Order
      </button>
    </div>
  </div>
  <a class="button view-menu-button" href="/customer/menu?orderId={{order.orderId}}">
    <i class="fas fa-clipboard=list"></i> Add items from menu
  </a>
</section>

<script>
</script>
