<section id="orderlist">
    <div class="orders">
        <div class="orders-wrapper">
            {{#each orders}}
            <div class="order-item">
                <div class="order-item-id">
                    {{this.orderId}}
                </div>
                <div>
                    {{formatDateTime this.timeOrdered}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>