<section id="orderlist">
    <div class="orders">
        <div class="orders-wrapper">
            {{#if isLoggedin}}
                {{#each orders}}
                <a class="order-item" href="/customer/orders/{{this.orderId}}">
                    <div class="order-item-id">
                        {{this.orderId}}
                    </div>
                    <div>
                        {{formatDateTime this.timeOrdered}}
                    </div>
                </a>
                {{/each}}
            {{/if}}
        </div>
    </div>
</section>