<section id:"One-Snack">
    <h1>{{oneSnack.snackName}}</h1>
    <section id="snack-details">
        <section id="one-snack-picture">
            <img class="details page", src="https://images.unsplash.com/photo-1574691212916-f41afebbeaf2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=400&q=60">
        </section>
        <section id="one-snack-text">
            <p id="description">{{oneSnack.price}}</p>
            <table>
                <tr><td>snackName:</td><td>{{oneSnack.snackName}}</td></tr>
                <tr><td>price:</td><td>{{oneSnack.price}}</td></tr>

            </table>
        </section>


    </section>




</section>
