<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

<section id="signup">
  <form method="post" action="/customer/signup" class="signup-form">
    <div class="signup-form-header">
      <i class="icon-SnackVan"></i>
      <h1>Signup Form</h1>
    </div>
    <label for="givenName">Given Name</label>
    <input placeholder="given name" name='givenName' id='givenName' value="" />
    <label for="familyName">Family Name</label>
    <input placeholder="family name" name='familyName' id='familyName' value="" />
    <label for="emailAddress">Email Address</label>
    <input placeholder="email address" name='email' id='email' type="email" value="" />
    <label for="password">Password</label>
    <input placeholder="***************" name='password' id='password' type="password" value="" />
    <label for="confirmPassword">Confirm Password</label>
    <input placeholder="***************" name='confirmPassword' id='confirmPassword' type="password" value="" />
    <div class="signup-form-submit">
      <button type="submit" class="button" id="login-button"><i class="fas fa-sign-in-alt"></i>&nbsp;SIGN IN</button>
    </div>
  </form>
</section>