<section >
    <h1>Signup Form</h1>
    <form method="post" action="/customer/signup">
        <table>
          <tr>
            <td>Given Name</td>
            <td><input placeholder="given name" name='givenName' id='givenName' value=""/></td>
          </tr>
          <tr>
            <td>Family Name</td>
            <td><input placeholder="family name" name='familyName' id='familyName' value=""/></td>
          </tr>
          <tr>
            <td>Email</td>
            <td><input placeholder="username" name='email' id='email' value=""/></td>
          </tr>
          <tr>
            <td>Password</td>
            <td><input placeholder="***************" type="password" name='password' id='password' value=""/></td>
          </tr>
          <tr>
            <td>Confirm Password</td>
            <td><input placeholder="***************" type="password" name='confirmPassword' id='confirmPassword' value=""/></td>
          </tr>
          <tr>
            <td colspan="2"><center><input type="submit" value="Submit"></center></td>
          </tr>
        </table>

    </form>

</section>