@media screen and (max-width: 768px){

  #account {
    margin-bottom: 20px;
    width: 100%;
    margin-top: 0px;
  }
  
  #account h1 {
    font-family: var(--font-heading);
  }
  
  .account-detail {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .account-detail-header {
    margin-top: 32px;
    text-align: center;
  }
  
  .account-detail-header i {
      font-size: 56px;
  }
  
  .account-detail-submit {
    margin-top: 32px;
    text-align: center;
  }
  
  #logout-button {
    width: auto;
    border-radius: 8px;
    border: none;
    font-size: 12px;
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
  }

  #update-button {
    width: auto;
    border-radius: 8px;
    border: none;
    font-size: 12px;
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
  }
  

  #account input,
  label {
    width: 100%;
    display: block;
    margin: 8px;
    font-weight: lighter;
  
  }
  
  #account input {
    background-color: var(--color-white);
    border-radius: 8px;
    border: none;
    padding: 8px;
  }

  #account #email{
    background-color: var(--color-lighter);
  }
}

@media screen and (min-width: 769px){

  #account {
    width: 100%;
    margin-top: 80px;
  }
  
  #account h1 {
    text-align: center;
    font-family: var(--font-heading);
  }
  
  .account-detail {
    width: 50%;
    margin-left: auto;
    margin-right: auto;

  }
  
  .account-detail-header {
    margin-top: 32px;
    text-align: center;
    font-size: 56px;
  }
  
  .account-detail-submit {
    margin-top: 32px;
    text-align: center;
  }
 
  #logout-button,#update-button {
    width: auto;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
  }

  
  

  #account input,
  label {
    width: 100%;
    display: block;
    margin: 8px;
    font-weight: lighter;
  
  }
  
  #account input {
    background-color: var(--color-white);
    border-radius: 8px;
    border: none;
    padding: 8px;
  }

  #account #email{
    background-color: var(--color-lighter);
  }
}