.home-container {
  flex-grow: 1;
  background-image: url("../static/home-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.home-container-top {
    flex-grow: 5;
}

.home-container-bottom {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome {
  position: relative;
  /* font-size: 2vw; */
  width: 400px;
  top: 128px;
  left: 128px;
}
