.login-form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  margin-bottom: 32px;
}

.login-form-header {
  margin-top: 32px;
  text-align: center;
  font-family: var(--font-heading);
}

.login-form-header i {
  font-size: 56px;
}

.login-form-submit {
  margin-top: 32px;
  text-align: center;
}

.login-forgot-password {
  text-align: right;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
}

.login-error-message {
  text-align: right;
  font-size: 16px;
  font-weight: bold;
  color: var(--color-red);
}

.login-no-account-yet {
  text-align: center;
  margin-top: 16px;
  font-size: 16px;
}

#user-pw,
#user-email {
  background-color: var(--color-white);
  border-radius: 8px;
  border: none;
  padding: 8px;
}

input[type="email"],
input[type="password"],
label {
  width: 100%;
  display: block;
  margin: 8px;
  font-weight: lighter;
  margin-left: auto;
  margin-right: auto;
}

.van-icon {
  animation-duration: 4s;
  animation-name: movingvan;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}
@keyframes movingvan {
  0% {
    transform: translateX(-20%);
  }

  50% {
    transform: translateX(20%);
  }

  100% {
    transform: translateX(-20%);
  }
}

@media screen and (max-width: 400px) {
  #login {
    width: 100%;
    margin-top: 8px;
    font-size: 15px;
  }
  #login-button {
    width: auto;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  .login-forgot-password {
    text-align: right;
    font-size: 11px;
    margin-left: auto;
    margin-right: auto;
  }
  .login-error-message {
    text-align: right;
    font-size: 11px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    color: var(--color-red);
  }
  .login-no-account-yet {
    font-size: 11px;
  }

  input[type="email"],
  input[type="password"],
  label {
    width: 100%;
    display: block;
    margin: 8px;
    font-weight: lighter;
    margin-left: auto;
    margin-right: auto;
  }
  .login-form {
    margin-top: 64px;
    margin-bottom: 64px;
  }
}
@media screen and (min-width:401px) and  (max-width: 1060px) {
  #login {
    width: 100%;
    margin-top: 128px;
  }
  #login-button {
    width: auto;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  .login-forgot-password {
    width: 50%;
    text-align: right;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    
  }
  .login-error-message {
    width: 50%;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    color: var(--color-red);

  }
  input[type="email"],
  input[type="password"],
  label {
    width: 50%;
    display: block;
    margin: 8px;
    font-weight: lighter;
    margin-left: auto;
    margin-right: auto;
  }
  .login-form {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1061px) {
  #login {
    width: 100%;
    margin-top: 128px;
  }
  #login-button {
    width: auto;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  .login-forgot-password {
    width: 50%;
    text-align: right;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    
  }
  .login-error-message {
    width: 50%;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    color: var(--color-red);

  }
  input[type="email"],
  input[type="password"],
  label {
    width: 50%;
    display: block;
    margin: 8px;
    font-weight: lighter;
    margin-left: auto;
    margin-right: auto;
  }
  .login-form {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}
