.small-screen-navbar{
  
  color: var(--color-dark);
  background-color: var(--color-medium);
  text-align: center;
  margin: 0;
  bottom: 0;
  position: fixed;
  
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  
  display: none;
  
}


.navbar {
  color: var(--color-dark);
  background-color: var(--color-medium);
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: var(--font-heading);
  
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  display: none;
}
.small-screen-navbar-logo {
  padding: 6px;
  display: flex;
  align-items: center;
  font-size: xx-large;
  justify-content:space-evenly;  
}

.navbar h1 {
  font-size: var(--text-big);
  margin: 16px;
  padding: 0px;
  display: none;
}

.navbar nav {
  color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  margin-right: 8px;
}

.navbar nav a {
  margin: 8px;
  padding: 0 28px;
}
.navbar nav a:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  
}

.small-screen-navbar-logo a:hover{
  color: white;

}

/* for tablet size*/
@media screen and (min-width: 768px) 
{
.navbar h1 {
  display: block;
    

}
.navbar{
  display:flex
}
}
@media screen and (max-width:768px){
.small-screen-navbar{
  display: block;
}  

  
}