#orders {
    margin: 128px 0;
    width: 100%;
}

#orders h1 {
    text-align: center;
    font-size: 48px;
    font-family: var(--font-heading);
    margin: 0;
}

.orders-wrapper {
    /* padding: 0 10vw; */
    width: 40vw;
    margin: auto;
}

.order-item {
    display: block;
    background-color: var(--color-lighter);
    padding: 16px;
    margin: 16px;
    border-radius: 16px;
    transition: all 0.1s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.order-item:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}


.order-item-id {
    font-weight: bold;
    margin-right: 80px;
}

#green-dot {
    color: var(--color-green);

}

#blue-dot {
    color: var(--color-blue);
}

#orange-dot {
    color: var(--color-orange);
}

.status-dot {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    vertical-align: middle;
}

@media screen and (max-width: 768px){
    #orders {
        margin-top:64px;
    }
    .orders-wrapper {
        width: 100%;
    }
  }