.cart-wrapper {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.cart-table {
    border-collapse: collapse; 
    margin: 32px auto;
    background-color: var(--color-light) ;
    width: 100%;
}

.cart-table thead, .cart-table tr:nth-last-child(2) {
    border-bottom: 2px solid var(--color-black);
}

.cart-table td {
    font-weight: bold;
    text-align: center;
    padding: 16px 0;
}
#cart {
    margin-top: 64px;
    width: 100%;
}

/* Smaller then standard tablet size*/
@media screen and (max-width: 768px){
    #cart h1 {
        text-align: center;
        font-size: 32px;
        font-family: var(--font-heading);
    }

    .cart-wrapper {
        width: 100%;
        margin-left: 0;
        margin-right: auto;
    }
    
    .cart-table {
        border-collapse: collapse; 
        margin: 16px auto;
        background-color: var(--color-light) ;
        width: 100%;
    }
    
    .cart-table thead, .cart-table tr:nth-last-child(2) {
        border-bottom: 2px solid var(--color-black);
    }
    
    .cart-table td {
        font-weight: bold;
        text-align: center;
        padding: 8px 0;
    }
    
    .cart-total {
        font-weight: bold;
    }
    
    .order-buttons {
        margin: 32px 0;
        text-align: center;
    }
    
    #cancel-order-button, #update-order-button {
        margin: 16px;
        font-size: 16px;
        cursor: pointer;
    }
    
    .empty-cart-message {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 32px;
        padding: 64px 0;
    }
    
    .view-menu-button {
      position: fixed;
      bottom: 56px;
      right: 56px;
    }
    
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    
    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }
    
    .count-input {
        background-color: var(--color-white);
        border-radius: 8px;
        border: none;
        max-width: 30%;
        text-align: center;
        font-size: 12px;
        padding: 4px;
    }
}

<<<<<<< HEAD
.order-buttons {
    margin: 32px 0;
    text-align: center;
    font-size: 10px;
}

#cancel-order-button, #update-order-button {
    margin: 16px;
   
    cursor: pointer;
}

.empty-cart-message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 64px 0;
}

.view-menu-button {
  position: fixed;
  bottom: 56px;
  right: 56px;
  font-size: small;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.count-input {
    background-color: var(--color-white);
    border-radius: 8px;
    border: none;
    max-width: 30%;
    text-align: center;
    font-size: 16px;
    padding: 8px;
}

@media screen and (max-width: 768px){
    #cart {
        font-size: x-small;
        margin-top: 64px;
        width: 100%;
        margin-top: 60px;
    }
    

    #cart h1 {
        text-align: center;
        font-size:x-large;
        font-family: var(--font-heading);
    }

}
@media screen and (min-width: 768px){
    #cart {
        margin-top: 70px;
        width: 100%;
        
    }
    

    #cart h1 {
        text-align: center;
        font-size: 64px;
        font-family: var(--font-heading);
    }
    
    .view-menu-button {
        font-size: x-large;
    }

}


=======
@media screen and (min-width: 769px){
    #cart h1 {
        text-align: center;
        font-size: 64px;
        font-family: var(--font-heading);
    }

    .cart-wrapper {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .cart-table {
        border-collapse: collapse; 
        margin: 32px auto;
        background-color: var(--color-light) ;
        width: 100%;
    }
    
    .cart-table thead, .cart-table tr:nth-last-child(2) {
        border-bottom: 2px solid var(--color-black);
    }
    
    .cart-table td {
        font-weight: bold;
        text-align: center;
        padding: 16px 0;
    }
    
    .cart-total {
        font-weight: bold;
    }
    
    .order-buttons {
        margin: 32px 0;
        text-align: center;
    }
    
    #cancel-order-button, #update-order-button {
        margin: 16px;
        font-size: 16px;
        cursor: pointer;
    }
    
    .empty-cart-message {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 32px;
        padding: 64px 0;
    }
    
    .view-menu-button {
      position: fixed;
      bottom: 56px;
      right: 56px;
    }
    
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    
    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }
    
    .count-input {
        background-color: var(--color-white);
        border-radius: 8px;
        border: none;
        max-width: 30%;
        text-align: center;
        font-size: 16px;
        padding: 8px;
    }
}
>>>>>>> a765a481729ceaa24c1fee8f5fa2db90f6430ff3
