/*
 *  TODO:
 * - vendor forgot password - Yes
 * - vendor can mark order as fulfilled, then as picked up. -> yes
 *   Customer will see this, and they won't be able to update **-> yes
 * - customer can change order if within time or not yet fulfilled, **
 *   resetting the timer. Vendor will see this 
 * - REPORT
 * - do not hardcode discount time (10 min and 15 min) and maybe the rate (20%)-> yes
 *   as well
 * - responsive design (Phone size: Can do Max-width < 400 Ipad can do min-width 401, max-width 768), issue with nav bar not scaling? navbar.css doesn't seem
 *   to be coming up on the inspect element, also orders list is wide on tall ipad view but skinny on fat ipad view? i think fat view looks better?
 *   select a van also looks a bit funky, make preparing and fulfilled capitalized might need a function in helpers.js and call it in hbs. 
 *   check menu and home.css  -Justin

 *  - Set discount applied in the back end-> yes
 * - bug fixes, especially for the redirects (after placing order to the order that they just placed maybe?)
 * - make sure euclidean distance calculation works -> yes
 * - vendor should be able to see who ordered what-> yes
 * - customer should see which van an order was from (after it is placed)
 * - check if an open vendor is selected when user is about to place order,
 *   if not, alert **
 * Bonus:
 * - rating ***
 * - live reload of orders page for both customers and vendors
 * - see vendors on map
 * - searching orders
 * 
 * NOTE:
 * Deleting all items from order details will not cancel the order

 * ---------- TODO ----------:
 * Change Vendor App background + remove homescreen text animation ***
 * "GO BACK" button in vendor and customer app from /order to /orders ***
 * Clear sessionStorage when logging out and when order is placed / cancelled (clear cart) ***
 * Order timer resizing for smaller screens ***
 * Redirect after rating is submitted ***
 */

 @import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@600&display=swap");
 @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
 @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
 @import "./rating.css";
 @import "./navbar.css";
 @import "./footer.css";
 @import "./home.css";
 @import "./menu.css";
 @import "./cart.css";
 @import "./orders.css";
 @import "./button.css";
 @import "./error.css";
 @import "./login.css";
 @import "./signup.css";
 @import "./order.css";
 @import "./account.css";
 @import "./vendor-list.css";
 @import "./cart-table.css";
 
 
 * {
   box-sizing: border-box;
 }
 
 html {
   height: 100%;
 }
 
 main {
   min-height: 100%;
   display: flex;
 }
 
 a {
   color: var(--color-black);
   text-decoration: none; 
 }
 
 :target {
   color: var(--color-white);
 }
 
 body {
   font-family: var(--font-body);
   font-size: var(--text-medium);
   background-color: var(--color-light);
   color: var(--color-dark);
   margin: 0;
   height: 100%;
 }
 
 :root {
   --font-body: "Roboto", sans-serif;
   --font-heading: "Cormorant SC", "Georgia", cursive;
   --color-dark: #042046;
   --color-medium: #d4b496;
   --color-light: #f5e5d6;
   --color-grey: #68798e;
   --color-black: #042046;
   --color-white: #ffffff;
   --color-lighter: #f0eded;
   --color-green: #00ff00;
   --color-blue: #0500ff;
   --color-orange: #ffa114;
   --color-brown: #c3b39f;
   --color-red: #FF0000;
 }
 
 @media screen and (max-width: 400px) {
   :root {
     --text-big: 15px;
     --text-medium: 12px;
     --text-small: 10px;
   }
 
   .copyright {
     display: none;
   }
 }
 
 @media screen and (min-width:401px) and  (max-width: 768px) {
  :root {
    --text-big: 25px;
    --text-medium: 18px;
    --text-small: 12px;
  }

  .copyright {
    display: none;
  }
}


 @media screen and (min-width: 769px) {
   :root {
     --text-big: 36px;
     --text-medium: 22px;
     --text-small: 16px;
   }
 }
 